// Use this file to store common values like
// font size, z index, etc.

// Foundation overrides
@import 'overrides/_foundation';

// Global Variables
$transition-time: 0.425s; // Common transition time for hover states, etc.
$header-breakpoint: large; // Used for consistent mobile to desktop header style switching
$below-header-breakpoint: medium down;
$placeholder-color: $black;
$placeholder-line-height: normal;
$standard-padding: rem-calc(20);
