// BREAKPOINTS
@mixin bp($point) {
	@if $point == retina {
		@media only screen and (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) { @content; }
	}

	@if $point == print {
		@media only print { @content; }
	}
}

// LAYERS
@mixin layer($layer) {

	@if $layer == max {
		z-index: 200;
	}

	@if $layer == top {
		z-index: 100;
	}

	@if $layer == middle {
		z-index: 50;
	}

	@if $layer == bottom {
		z-index: 1;
	}

}

// WIDTH / HEIGHT
@mixin em_width($px, $default: $default-fontsize) {
	width: #{$px / $default}em;
}
@mixin em_height($px, $default: $default-fontsize) {
	height: #{$px / $default}em;
}
@mixin em_maxwidth($px, $default: $default-fontsize) {
	max-width: #{$px / $default}em;
}
@mixin em_minwidth($px, $default: $default-fontsize) {
	min-width: #{$px / $default}em;
}
@mixin em_maxheight($px, $default: $default-fontsize) {
	max-height: #{$px / $default}em;
}
@mixin em_minheight($px, $default: $default-fontsize) {
	min-height: #{$px / $default}em;
}
