// MARGIN
@mixin em_margin($top: 0, $right: $top, $bot: $top, $left: $right, $default: $default-fontsize) {
	@if $top == auto {
		$top : auto
	} @else {
		$top : #{$top / $default}em
	}

	@if $right == auto {
		$right: auto
	} @else {
		$right: #{$right / $default}em
	}

	@if $bot == auto {
		$bot: auto
	} @else {
		$bot: #{$bot / $default}em
	}

	@if $left == auto {
		$left: auto
	} @else {
		$left: #{$left / $default}em
	}

	margin: #{$top} #{$right} #{$bot} #{$left};
}

@mixin em_margin_top($top:0, $default: $default-fontsize) {
	@if $top == auto {
		$top : auto
	} @else {
		$top : #{$top / $default}em
	}

	margin-top: #{$top};
}

@mixin em_margin_right($right:0, $default: $default-fontsize) {
	@if $right == auto {
		$right : auto
	} @else {
		$right : #{$right / $default}em
	}

	margin-right: #{$right};
}
@mixin em_margin_bottom($bot:0, $default: $default-fontsize) {
	@if $bot == auto {
		$bot : auto
	} @else {
		$bot : #{$bot / $default}em
	}

	margin-bottom: #{$bot};
}
@mixin em_margin_left($left:0, $default: $default-fontsize) {
	@if $left == auto {
		$left : auto
	} @else {
		$left : #{$left / $default}em
	}

	margin-left: #{$left};
}