// PADDING
@mixin em_padding($top: 0, $right: $top, $bot: $top, $left: $right, $default: $default-fontsize) {
	@if $top == auto {
		$top : auto
	} @else {
		$top : #{$top / $default}em
	}

	@if $right == auto {
		$right: auto
	} @else {
		$right: #{$right / $default}em
	}

	@if $bot == auto {
		$bot: auto
	} @else {
		$bot: #{$bot / $default}em
	}

	@if $left == auto {
		$left: auto
	} @else {
		$left: #{$left / $default}em
	}

	padding: #{$top} #{$right} #{$bot} #{$left};
}

@mixin em_padding_top($top:0, $default: $default-fontsize) {
	@if $top == auto {
		$top : auto
	} @else {
		$top : #{$top / $default}em
	}

	padding-top: #{$top};
}

@mixin em_padding_right($right:0, $default: $default-fontsize) {
	@if $right == auto {
		$right : auto
	} @else {
		$right : #{$right / $default}em
	}

	padding-right: #{$right};
}
@mixin em_padding_bottom($bot:0, $default: $default-fontsize) {
	@if $bot == auto {
		$bot : auto
	} @else {
		$bot : #{$bot / $default}em
	}

	padding-bottom: #{$bot};
}
@mixin em_padding_left($left:0, $default: $default-fontsize) {
	@if $left == auto {
		$left : auto
	} @else {
		$left : #{$left / $default}em
	}

	padding-left: #{$left};
}