$palettes: (
	'root': (
		core: #ffffff,
		selection: #b3d4fc
	),
	'theme': (
		core: #333
	),
	'font': (
		core: #ccc
	),
	'border': (
		core: #ccc
	),
	'black': (
		core: #000000
	),
	'white': (
		core: #ffffff
	)
);
