// Use this file to store common values like
// font size, z index, etc.

// Colors
$black: #0a0a0a;
$sail: #a2cdee;

// Global Variables
$transition-time: 0.425s; // Common transition time for hover states, etc.
$placeholder-color: $black;
$selection-color: $sail;

// Foundation overrides from standards
$breakpoints: (
	xsmall: 0,
	small: 400,
	medium: 768px,
	large: 1024px,
	xlarge: 1200px,
	xxlarge: 1440px,
	xxxlarge: 1920px
);
// $breakpoint-classes: (small medium large);
