// Use this file to store common values like
// font size, z index, etc.

// Colors
$black: #0a0a0a;
$sail: #a2cdee;

// Global Variables
$transition-time: 0.425s; // Common transition time for hover states, etc.
$header-breakpoint: large; // Used for consistent mobile to desktop header style switching
$below-header-breakpoint: medium down;
$placeholder-color: $black;
$standard-padding: rem-calc(20);
$radio-checkbox-size: rem-calc(24);
