body {
	overflow-x: hidden; // Prevents horizontal scroll bug that occurs a lot in IE

	* {

		// Box Sixing
		box-sizing: border-box;
		// Allow non-breaking characters to wrap
		word-break: break-word;
		word-wrap: break-word;
	}
}
