// Opinion: Background color to white, and shrink if necessary
input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
textarea,
select {
	background-color: $white;
	max-width: 100%;

	&[placeholder],
	&:placeholder-shown {
		color: $placeholder-color;
		line-height: $placeholder-line-height;
	}

}

// Set word-break back to normal so that text inputs don't wrap
input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'] {
	word-break: normal;
}

// Opinion: Add some padding around checkboxes and radio buttons
input[type='radio'],
input[type='checkbox'] {
	margin: 0 0.4em;
}

// Allow only vertical resizing of textareas.
textarea {
	resize: vertical;
}

// Remove default fieldset styles.
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

//---------- Placeholder Styles ----------//
// scss-lint:disable VendorPrefix
::placeholder {
	color: $placeholder-color;
	line-height: $placeholder-line-height;
}

::-webkit-input-placeholder {
	color: $placeholder-color;
	line-height: $placeholder-line-height;
}

:-moz-placeholder {
	opacity: 1; // FF Fix
	color: $placeholder-color;
	line-height: $placeholder-line-height;
}

::-moz-placeholder {
	opacity: 1; // FF Fix
	color: $placeholder-color;
	line-height: $placeholder-line-height;
}

:-ms-input-placeholder {
	color: $placeholder-color;
	line-height: $placeholder-line-height;
}
// scss-lint:enable VendorPrefix

// Add custom generic form styles here
