img {
	max-width: 100%;

	// Opinion: Add padding around WYSIWYG images, and set alignment in CSS for Editors that use attributes.
	.user-markup & {
		padding: 0.5em;

		&[align=left],
		&[style="float: left;"] {
			padding: 0.5em 0.5em 0.5em 0;
		}

		&[align=left] {
			float: left;
		}

		&[align=right],
		&[style="float: right;"] {
			padding: 0.5em 0 0.5em 0.5em;
		}

		&[align=right] {
			float: right;
		}
	}
}
