table {
	table-layout: fixed;
	margin: 0 0 1rem;
	max-width: 100%;

	.gsc-control-cse & {
		table-layout: initial; // Shows GCSE tables correctly
	}

	tbody {

	}

	tr {

	}

	td {

	}

	th {

	}

}

.table-wrapper { // Wrapping tables in this will allow them to scroll horizontally if too wide
	overflow: hidden;
	overflow-x: auto;
	max-width: 100%;
}
