img {
	max-width: 100%;

	// Opinion: Add padding around WYSIWYG images, and set alignment in CSS for Editors that use attributes.
	.content & {
		padding: 0.5em;

		&[align=left] {
			padding: 0.5em 0.5em 0.5em 0;
			float: left;
		}

		&[align=right] {
			padding: 0.5em 0 0.5em 0.5em;
			float: right;
		}
	}
}
